HelloDemo/SOA/Schemas/HelloDemoBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://soa.pwc.com/GaneshTrainingApplication/HelloDemo/HelloDemoBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="inputParam" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="resultVar" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
